@mixin textStyle {
    width: 100%;
    height: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}

.block_main {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    .container_main_info {
        height: auto;
        width: 51%;
        display: flex;
        flex-direction: column;
    }
}

.container_info_one {
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .info_one__block_one {
        @include textStyle;
    }
    .info_one__block_two {
        @include textStyle;
        font-size: 1em;
    }
}

.img_spinner {
    height: auto;
    width: 8%;
}

.spinner {
    display: block;
    z-index: 1;
    height: auto;
    width: 23%;
    position: absolute;
    margin-top: 6%;
}

.nospinner {
    display: none;
    z-index: 1;
    height: auto;
    width: 23%;
    position: absolute;
}

.container_info_two {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .info_two__one {
        width: 50%;
        height: 100%;
        background-color: #484848a6;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .info_two__two {
        margin-left: 5%;
        width: 50%;
        height: 100%;
        background-color: #484848a6;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }
}

.img_weather {
    border: 0;
    width: 6vw;
    height: auto;
    position: absolute;
    padding-left: 12%;
}

.temp {
    color: #fff;
    display: inline-block;
    font-size: 5em;
    margin-top: 8%;
}

.sign {
    color: white;
    font-size: 5em;
}

.container_info_tree {
    height: 20vh;
    display: flex;
    flex-direction: row;
    width: 82%;
    position: absolute;
    margin-top: 64vh;
    justify-content: space-around;
    .info_tree__one {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;
        justify-content: space-between;
        background-color: #484848a6;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        span {
            text-align: center;
        }
    }
    .info_tree__two {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;
        justify-content: space-between;
        background-color: #484848a6;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        span {
            text-align: center;
        }
    }
    .info_tree__tree {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 20%;
        justify-content: space-between;
        background-color: #484848a6;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
        span {
            text-align: center;
        }
    }
}

.img_icon {
    position: relative;
}

;
.container_map {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 32%;
    .controls {
        width: calc(100vh - 70vh);
        position: relative;
        margin: -2vh auto 28vh;
    }
    .map {
        width: 85%;
        height: 42vh;
        border-radius: 10px 10px 10px 41px;
        clip-path: polygon(0% 0, 100% 0%, 100% 42%, 100% 25%, 103% 99%, 92% 93%, 0% 92%);
        margin: 28% auto auto auto;
    }
    .map_info {
        height: 14vh;
        width: 23vw;
        margin: 0;
    text-align: left;
    }
}