@mixin textStyle {
    width: 100%;
    height: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}

.block_main {
    background-color: #e91e63;
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .container_main_info {
        background-color: #2e607b;
        height: auto;
        width: 41%;
        display: flex;
        flex-direction: column;
    }
}

.container_info_one {
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .info_one__block_one {
        @include textStyle;
    }
    .info_one__block_two {
        @include textStyle;
        font-size: 1em;
    }
}

.img_spinner {
    height: auto;
    width: 8%;
}

.spinner {
    display: block;
    z-index: 1;
    height: auto;
    width: 23%;
    position: absolute;
    margin-top: 6%;
}

.nospinner {
    display: none;
    z-index: 1;
    height: auto;
    width: 23%;
    position: absolute;
}

.container_info_two {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    .info_two__one {
        background-color: blue;
        width: 50%;
        height: 100%;
    }
    .info_two__two {
        background-color: chocolate;
        width: 50%;
        height: 100%;
        margin-left: 5%;
    }
}

.img_weather {
    border: 0;
    width: 6vw;
    height: auto;
    position: absolute;
    padding-left: 12%;
}

.temp {
    color: #fff;
    display: inline-block;
    font-size: 5em;
    margin-top: 8%;
}

.sign {
    color: white;
    font-size: 5em;
}

.container_info_tree {
    background-color: grey;
    height: 20vh;
    display: flex;
    flex-direction: row;
    width: 82%;
    position: absolute;
    margin-top: 64vh;
    .info_tree__one {
        display: flex;
        flex-direction: column;
        background-color: coral;
        height: 100%;
        width: 20%;
        span {
            text-align: center;
        }
    }
    .info_tree__two {
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        height: 100%;
        width: 20%;
        span {
            text-align: center;
        }
    }
    .info_tree__tree {
        display: flex;
        flex-direction: column;
        background-color: crimson;
        height: 100%;
        width: 20%;
        span {
            text-align: center;
        }
    }
}

.img_icon {
    position: absolute;
}

.container_map {
    display: flex;
    flex-direction: column;
    background-color: #6e677b;
    height: auto;
    width: 28%;
    .controls {
        position: relative;
        margin: -22% auto 17%;
    }
    .map {
        width: 85%;
        height: 42vh;
        border-radius: 10px 10px 10px 41px;
        clip-path: polygon(0% 0, 100% 0%, 100% 42%, 100% 25%, 103% 99%, 92% 93%, 0% 92%);
        margin: 28% auto auto auto;
    }
    .map_info {
        height: 14vh;
        background-color: #ff0;
        width: 23vw;
        margin: -34% auto auto;
        text-align: right;
    }
}