@import "modules/block_control/block_control";
@import "modules/block_main/block_main";
@import "modules/font";
h1 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.wrapper {
    background-color: brown;
    width: 87%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Exo 2';
    background-image: url('../img/bg_img/bg_1.jpg');
    background-size: cover;
    align-content: stretch;
}