.block_control {
    width: 100%;
    height: 11vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_search {
    width: 28%;
    height: auto;
    background-color: red;
    .search_form {
        width: 100%;
        height: 100%;
        padding-top: 3vh;
    }
    .search_input {
        margin: auto;
        color: white;
        width: 16vw;
        font-size: 1em;
        text-align: left;
        text-transform: uppercase;
        border: 1px solid #d8d8d8;
        border-radius: 6px 0 0 6px;
        height: 5vh;
        background-color: #636262;
    }
    .search_input::placeholder {
        color: white;
        padding-left: 6%;
        text-transform: none;
    }
    .img_micro {
        width: 2.1vw;
        position: absolute;
        margin-left: -3%;
        margin-top: 4px;
        cursor: pointer;
    }
    .button_search {
        border: none;
        width: 6vw;
        height: 5.2vh;
        position: absolute;
        background-color: rgba(107, 119, 119, .61);
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 0 6px 6px 0;
    }
}

.container_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34%;
    height: auto;
    background-color: salmon;
    .button_refresh {
        height: min-content;
        width: 10%;
        border-radius: 10px 10px 10px 10px;
        margin: auto;
        cursor: pointer;
    }
    .img_reverse {
        width: 1.5%;
        position: absolute;
        z-index: 4;
        margin-top: 0.7%;
        margin-left: -2.2%;
    }
    .button_language {
        height: auto;
        width: 30%;
        margin: auto;
        cursor: pointer;
    }
    .button_temperature {
        display: flex;
        height: auto;
        width: 30%;
        margin: auto;
    }
}

.button_one {
    background-color: rgba(107, 119, 119, .61);
    height: 6vh;
    width: 50%;
    cursor: pointer;
    border: none;
    border-radius: 6px 0px 0px 6px;
    outline: 0 !important;
    color: white;
    font-family: Exo\ 2;
    font-size: 1.5em;
}

.button_two {
    background-color: rgba(107, 119, 119, .61);
    border-radius: 0px 6px 6px 0px;
    height: 6vh;
    width: 50%;
    border: none;
    cursor: pointer;
    outline: 0 !important;
    color: white;
    font-family: Exo\ 2;
    font-size: 1.5em;
}

.active {
    background-color: #636262 !important;
}

.img_refresh {
    width: 100%;
    background-color: #777777;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.select_lang {
    border-radius: 6px 6px 6px 6px;
    width: 70%;
    height: 6vh;
    color: white;
    background-color: #777777;
    outline: none;
    option {
        background-color: #525252;
    }
}